body {
  color: #fff;
  background-color: #851507;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.blackhole {
  margin: 20px auto;
  width: 700px;
}

pre {
  padding: 20px;
  white-space: pre-line;
  border-radius: 10px;
  background-color: #b34334;
}

a {
  color: #fff;
}
